h2 {
  text-align: center;
  margin: 0;
}

.dados {
  padding: 10px;
  border: 1px solid #cacaca;
  border-radius: 2px;
  margin: 15px 0;
}

.dados h2 {
  text-align: left;
}

.center {
  text-align: center;
}

b {
  text-transform: uppercase;
}

.center ion-button {
  width: auto;
}
