<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Projetos de Pesquisa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="box">
    <ion-item>
      <ion-label for="txtUsername" position="floating">Usuário</ion-label>
      <ion-input type="text" id="txtUsername" [(ngModel)]="username" placeholder="Digite seu usuário"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label for="txtPassword" position="floating">Senha</ion-label>
      <ion-input type="password" id="txtPassword" [(ngModel)]="password" placeholder="Digite sua senha"></ion-input>
    </ion-item>

    <div class="messageError">{{error}}</div>

    <ion-button (click)="validar()">Entrar</ion-button>
  </div>
</ion-content>
